{% extends 'layout.twig' %}
{% block body %}
<script src="javascripts/loginFB.js"></script>
<div id="status">
	<button onclick="getInfo()">Get Info</button>
	<button onclick="login()" id="login">Login</button>
</div>
{% endblock %}

