    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">Inicio</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="informacion">Informacion<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="fixture">Fixture<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="participantes">Participantes<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="leaderboard">Leaderboard<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="anuncios">Anuncios<span class="sr-only">(current)</span></a></li>    
        </ul>
      <ul class="nav navbar-nav navbar-right">
      <button id="btnEstilo" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Estilo
      </button>
      {% if user %}
        <li class="nav-item">
          <div class="chip chip-lg">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person"> Duende Carlos
          </div>
      </li>
      <li class="nav-item" id="logout">
        <a href="/logout/facebook"><button type="button" class="btn btn-lg btn-fb"><i class="fa fa-facebook pr-1"></i>Log out</button></a>
      </li>
      {% else %}
      <li class="nav-item" id="login">
          <a href="/loginFB"><button type="button" class="btn btn-lg btn-fb"><i class="fa fa-facebook pr-1"></i>Log in with Facebook</button></a>
      </li>      
      {% endif %}   
      </ul>
    </div>
  </div>
</nav>